<h2>Lista de productos en tiempo real</h2>

<ul id="product-list">
  {{#each products}}
    <li>
      <strong>{{title}}</strong>
      - Precio: ${{price}}
      - Stock:
      {{stock}}
    </li>
  {{/each}}
</ul>

<script src="/main.js"></script>
<script src="/socket.io/socket.io.js"></script>