.productcards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* opcional: centra las filas */
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 140px;
  padding: 16px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.product-card .sku {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.75rem;
  color: #888;
}

.product-card .stock {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 0.75rem;
  color: #888;
}

.product-card .title {
  margin: auto 0;
  font-size: 1.5rem;
  text-align: center;
}

.product-card .price {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
}

.product-card .product-id {
  font-size: 0.6rem;
  color: #888;
  word-break: break-all; /* útil para evitar que se desborde */
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: #555;
}
footer hr {
  width: 80%;
  border: 1px solid #ccc;
  margin: 10px auto;
}
