<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/style.css" />
    <title>Entrega Final Backend</title>
  </head>
  <body>
    <h1>Layout principal - Entrega Final</h1>
    {{{body}}}
  </body>
  <footer>
    <hr />
    <p>
      <strong>Francisco Orellana</strong>
      - CODERHOUSE Backend I - Comisión: 74300 - Entrega Final
    </p>
  </footer>
</html>